body {
  width: 100%;
}
.container {
  position: relative;
  max-width: 100%;
  margin: 10px 20px;
}
.navbar {
  position: fixed;
  padding: 20px;
}

.navheader {
  display: inline;
}

.navlogo {
  display: inline-block;
}

.navright{
  float: right;
}

ul {
  list-style-type: none;
}

.navright .navitem {
  display: inline-block;
}
